body {
  text-align: center;
  background-color: rgba(47, 35, 35, 0.572);
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.button_div {
  margin-top: 40px;
  justify-content: center;
  display: flex;
  gap: 30px
}

.button_div button {
  padding: 5px 20px;
  cursor: pointer;
  font-size: 30px;
  border-radius: 5px;
  border: solid transparent;
}

.button_div h4 {
  font-size: 20px;
  cursor: pointer;
}

#count {
  font-size: 50px;
}